.new-sign-or-action-form {
  animation: fade-in .5s linear;
  animation-delay: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: auto;
  max-height: 0;
  margin-bottom: 0;
  transition: max-height .5s ease, margin-bottom .5s ease;
}

.new-sign-or-action-form.open {
  max-height: 300px;
  margin-bottom: 12px;
}
