.state-indicator-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.state-indicator-circle {
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: border-color 1s ease;
}

.sic--outer {
  width: 85vw;
  height: 85vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--color-border--25);
}

.sic--middle {
  width: 80vw;
  height: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--color-border--50);
}

.sic--inner {
  width: 75vw;
  height: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--color-border);
}

.state-indicator-title {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  transition: color 1s ease-in;
}
