.button {
  display: block;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  height: 70px;
  border-radius: var(--border-radius);
  margin: 40px auto;
  cursor: pointer;
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 65px;
  text-shadow: 3px 3px 0 var(--color-shadow);
  color: var(--color-button-text);
}

.button--animation {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: ease-out;
}

.button--small {
  display: inline-block;
  margin: 10px 0;
  height: 50px;
  line-height: 45px;
  font-size: 16px;
}

.button--rounded {
  border-radius: 35px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  8% {
    box-shadow: 0 0 0 2px white;
  }
  15% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
  }
  25% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  }
  30% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
}
