.theme--red {
    color: var(--color-text--red);
}

.theme--yellow {
    color: var(--color-text--yellow);
}

.theme--green {
    color: var(--color-text--green);
}

.bg--red {
    background-color: var(--color-bg-red);
}

.bg--yellow {
    background-color: var(--color-bg-yellow);
}

.bg--green {
    background-color: var(--color-bg-green);
}
