@import url(//db.onlinewebfonts.com/c/6a12e5049ae8cddc625f33b184eb0e5b?family=HelveticaNeue+Condensed);

@font-face {
  font-family: "HelveticaNeue Condensed";
  src: url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.eot");
  src: url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/6a12e5049ae8cddc625f33b184eb0e5b.svg#HelveticaNeue Condensed")
      format("svg");
}

* {
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
